/** Color Themes **/
$white: #ffffff;
$pupple-gradient: linear-gradient(
  rgba(85, 42, 127, 0.95),
  rgba(85, 42, 127, 0.95)
);
$primary-pupple: #552a7f;
$primary-orange: #f49731;
$border-color: #e6e6e6;
