* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans Condensed";
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

.content-container {
  padding-left: 60px;
  padding-right: 60px;
}
